* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-byv.byv.lexc -text
/apertium-byv.byv.rlx -text
/apertium-byv.byv.twoc -text
/apertium-byv.byv.twol -text
/apertium-byv.pc.in -text
/apertium-byv.post-byv.dix -text
/autogen.sh -text
/byv.prob -text svneol=unset#unset
/configure.ac -text
dev/AnnaBelewSentences.tsv -text
dev/AnnaBelewWords.tsv -text
dev/CShaughnessySentences.tsv -text
dev/CShaughnessyWords.tsv -text
dev/editdist.py -text
dev/random.fra-byv-eng.txt -text
dev/simple-coverage.sh -text
dev/spellrelax.twol -text
/modes.xml -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
tests/noms.yaml -text
texts/AllSents.tsv -text
texts/compte.byv.txt -text
texts/compte.fra.txt -text
texts/nganmou-exemples.txt -text
texts/puupankki.byv.feats -text
texts/puupankki/puupankki.byv.conllu -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
