* text=auto !eol
.deps/.d -text
.deps/byv.LR.hfst -text
.deps/byv.LR.lexc -text
.deps/byv.LR.lexc.hfst -text
.deps/byv.RL.hfst -text
.deps/byv.RL.lexc -text
.deps/byv.RL.lexc.hfst -text
.deps/byv.autogen.att -text
.deps/byv.automorf.att -text
.deps/byv.twol.hfst -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/aclocal.m4 -text
/ap_include.am -text
/apertium-byv.byv.lexc -text
/apertium-byv.byv.rlx -text
/apertium-byv.byv.twol -text
/apertium-byv.pc -text
/apertium-byv.pc.in -text
/apertium-byv.post-byv.dix -text
/autogen.sh -text
autom4te.cache/output.0 -text
autom4te.cache/output.1 -text
autom4te.cache/requests -text
autom4te.cache/traces.0 -text
autom4te.cache/traces.1 -text
/byv.autogen.att.gz -text
/byv.autogen.bin -text
/byv.autogen.hfst -text
/byv.automorf.att.gz -text
/byv.automorf.bin -text
/byv.automorf.hfst -text
/byv.autopgen.bin -text
/byv.prob -text svneol=unset#unset
/byv.rlx.bin -text
/config.log -text
/config.status -text
/configure -text
/configure.ac -text
/install-sh -text
/missing -text
/modes.xml -text
modes/byv-disam.mode -text
modes/byv-gener.mode -text
modes/byv-lexc.mode -text
modes/byv-morph.mode -text
modes/byv-tagger.mode -text
modes/byv-twol.mode -text
/svn-commit.tmp -text
/svn-commit.tmp.save -text
