* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-byv.byv.lexc -text
/apertium-byv.byv.rlx -text
/apertium-byv.byv.twol -text
/apertium-byv.pc.in -text
/apertium-byv.post-byv.dix -text
/autogen.sh -text
/byv.prob -text svneol=unset#unset
/configure.ac -text
dev/AnnaBelewWords.tsv -text
dev/CShaughnessyWords.tsv -text
dev/random.fra-byv-eng.txt -text
dev/spellrelax.twol -text
/modes.xml -text
